::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #141c3a;
}
.home {
  scroll-behavior: smooth;

  .home-container {
    background: url("../../Assets/images/homeBackGround6.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.4fr 2fr;

    .intro-container {
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      align-items: center;
      .intro-cont {
        text-align: center;
        animation: heading 1s ease-in;
        .intro {
          font-family: 'PT Sans', sans-serif;
          font-size: 30px;
          color: #141c3a;
          font-weight: 700;
          top: 10rem;
          align-items: center;
          outline: none;
          text-align: center;
          letter-spacing: 1px;
        }
      }
      .skillIconCont {
        display: flex;
        flex-direction: row;
        width: 30rem;
        position: relative;

        .css {
          position: absolute;
          animation: skills 5s ease-in-out -11s infinite normal;
          opacity: .2;
        }
        .react {
          position: absolute;
          animation: skills 5s ease-in-out -9s infinite normal;
          opacity: .2;
        }
        .node {
          position: absolute;
          animation: skills 5s ease-in-out -7s infinite normal;
        }
        .sass {
          position: absolute;
          animation: skills 5s ease-in-out -5s infinite normal;
        }
        .docker {
          position: absolute;
          animation: skills 5s ease-in-out -3s infinite normal;
        }
        .html5 {
          position: absolute;
          animation: skills 5s ease-in-out -1s infinite normal;
        }
      }

      .scroll-down-cont {
        position: absolute;
        bottom: 50px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .scrollLabel {
          color: white;
          letter-spacing: 1px;
          font-weight: 600;
        }

        .scrollDownIcon {
          cursor: pointer;
          &.glow {
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
          }
        }
      }
    }
  }
  .description-cont {
    display: flex;
    flex-direction: column;
    position: relative;

    .my-description {
      background-color: #7510F7;
      padding: 100px 20px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  .skills-work {
    display: flex;
    flex-direction: column;
  }

}

@keyframes heading {
  from {margin-top: -30px;}
  to {margin-top: 0;}
}

@keyframes skills {
  0% {opacity: 0.1}
  5% {opacity: .2}
  10% { opacity: .4}
  20% { opacity: .6}
  30% { opacity: .8}
  50% { opacity: 1}
  60% { opacity: .8}
  70% { opacity: .6}
  80% { opacity: .4}
  100% {
    transform: translateX(30rem);
    opacity: 0;
  }
}

@keyframes glow {
  from {
    margin-top: -30px;
    color: yellow;
  }
  to {
    color: green;
    margin-top: 0;
  }
}


@media (max-width: 600px) {
  .home {
    .home-container {
      .intro-container {
        .intro-cont {
          text-align: center;
          .intro {
            font-family: 'PT Sans', sans-serif;
            font-size: 20px;
            top: 10rem;
            text-align: center;
            align-items: center;
            outline: none;
            color: #141c3a;
            font-weight: 700;
          }
        }
        .skillIconCont{
          width: 100%;
          margin-left: 20px;
        }
        .scroll-down-cont {
          position: absolute;
          bottom: 0;
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
        }
      }
    }

    .description-cont {
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;

      .rowContainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
      }

      .middle-row-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
      }
    }
    .divider {
      width: 100%;
      height: 1px;
      background-color: #4B4345;
      opacity: .1;
    }
  }
  @keyframes skills {
    0% {opacity: 0.1}
    5% {opacity: .2}
    10% { opacity: .4}
    20% { opacity: .6}
    30% { opacity: .8}
    50% { opacity: 1}
    60% { opacity: .8}
    70% { opacity: .6}
    80% { opacity: .4}
    100% {
      transform: translateX(17rem);
      opacity: 0;
    }
  }
}
